.container {
  display: flex;
  justify-content: center;
  background-color: azure;
}
.btn {
  justify-content: space-evenly;
  
}
button {
  color: burlywood;
  padding: 10px;
  border: none;
  text-transform: uppercase;
}